.button{
    background-color: rgb(153, 7, 97);;
    color: rgb(255, 255, 255);
    padding: 8px;
    font-weight: bold;
    box-shadow: 4px 4px rgb(0, 0, 0);
    font-size: 18px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48) ease-in-out;
}

.download .button:hover{
    transform: scale(1.08);
}

.download{
    color: rgb(255, 255, 255);
}