
.header{
    background:linear-gradient(45deg, rgb(21, 31, 48), rgb(16, 55, 120), rgb(5, 147, 163));
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
   
    max-width: 1200px;
    width: 1200px;
    padding: 10px 20px;
   
    position: fixed;
    top: 0;
    left: calc(50% - 600px);
}

.logo{
    margin-left: 20px;
}

.menu{
    margin-right: 20px;
}

.menu a{
    color: rgb(245, 240, 244);
    margin:15px;
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover{
    color: rgb(141, 148, 243);
    font-weight: bold;
    padding: 3px;
    border-radius: 1px;
}

